.header__name-edit {
  margin-top: 15px;
  background-image: url(../../../image/Vector\(1\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-bottom: 12px;
  margin-left: 17px;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.header__name-edit:hover {
  opacity: 0.6;
  transition: 0.3s;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  .header__name-edit {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .header__name-edit {
    width: 18px;
    height: 18px;
  }
}
