.element__like {
  background-image: url(../../..//image/Vector\(3\).svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 22px;
  padding: 10px 0;
  align-self: center;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  position: relative;
}

.element__like:hover {
  opacity: 0.5;
  transition: 0.3s;
  transform: scale(1.2);
}
