.popup__input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  color: black;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  margin-bottom: 0px;
  padding: 10px 10px;
}

.popup__input:focus{
  box-shadow: 0 0 15px rgb(170, 170, 255);
}
