.profile {
  max-width: 880px;
  margin: 0 auto 51px auto;
  display: grid;
  grid-template-columns: repeat(2, min-content) auto;
  align-items: center;
  justify-items: flex-start;
  justify-content: stretch;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    margin: 0 auto 36px auto;
  }
}
