.element__remove {
  background-image: url(../../../image/Group.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 18px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.element__remove:hover {
  opacity: .6;
  transition: 0.3s;
  transform: scale(1.2);
}
