.popup__input-hobby {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  color: black;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  margin-bottom: 48px;
}
