@import url(../vendor/normalize.css);
@import url(../fonts/font-face.css);
@import url(../blocks/page/page.css);
@import url(../blocks/conteiner/conteiner.css);
/* HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-block/header__logo-block.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-block/_full/header__logo-block_full.css);
/*PROFILE*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__block-title/profile__block-title.css);
@import url(../blocks/profile/__hobby/profile__hobby.css);
@import url(../blocks/profile/__image-edit/profile__image-edit.css);
@import url(../blocks/profile/__name-edit/profile__name-edit.css);
@import url(../blocks/profile/__position-button/profile__position-button.css);
@import url(../blocks/profile/__position/profile__position.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
/*ELEMENT*/
@import url(../blocks/element/element.css);
@import url(../blocks/element/__card/element__card.css);
@import url(../blocks/element/__foto/element__foto.css);
@import url(../blocks/element/__title-wrapper/element__title-wrapper.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__remove/element__remove.css);
/*FOOTER*/
@import url(../blocks/footer/footer.css);
/*POPUP*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_type/popup-image_type_full.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);
@import url(../blocks/popup/__img-container/popup__img-container.css);
@import url();
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_add/popup__button_add_image.css);
@import url(../blocks/popup/__form/_type/popup__form_type_submit.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/_type/popup__close_type_cards.css);
@import url(../blocks/popup/__close/_type/popup__close_type_full-img.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_hobby.css);
@import url(../blocks/popup/__input/_type/popup__input_type_name.css);
@import url(../blocks/popup/popup-image/popup-image.css);
@import url(../blocks/popup/popup-full/popup-full.css);
